<style>

  /*accordion starts*/

  /*Now the styles*/
* {
  margin: 0; 
  padding: 0;
}
body {
  background: #ccc; 
  font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
  width: 805px; height: 320px;
  overflow: hidden;
  
  /*Time for some styling*/
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
  width: 2000px;
  /*This will give ample space to the last item to move
  instead of falling down/flickering during hovers.*/
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  
  border-left: 1px solid #888;
  
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  
  /*Transitions to give animation effect*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*If you hover on the images now you should be able to 
  see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
  display: block;
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; bottom: 0; 
width: 640px; 

}
.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}


  /*accordion ends*/

  table { 
  border: solid;
  border-radius: 5px;

  /*border-style: solid,black,rounded;*/
  color: #333;
  font-family: Helvetica, Arial, sans-serif; 
  border-collapse: 
  collapse; border-spacing: 0; 
  }

  td, th { 
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
  }

  th {
  background: #D11919;  /* Darken header a bit */
  font-weight: bold;
  font-size: 18px;
  }

  td {
  background: #FAFAFA;
  text-align: center;
  }
  
  thead {
    text-align: center;
  }

  /* Cells in even rows (2,4,6...) are one color */ 
  tr:nth-child(even) td { background: #F1F1F1; }   

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
  tr:nth-child(odd) td { background: #FEFEFE; }  

  tr td:hover { background: #666; color: yellow; } /* Hover cell effect! */

  .myButton {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:7px 55px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
}
.myButton:active {
  position:relative;
  top:1px;
}

#event_date {
  
    width: 140px;
    height: 140px;
    background-color: #3366FF;
    box-shadow: 10px 10px 5px #888888;

}

#event_date:hover{
outline: 5px solid black;
}

#date {

  font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #222;
  text-shadow: 0px 2px 3px #555;

}

</style>



<br>
<br>
<div class="DemoBS2">
<% if @events.empty? %>
  No events yet.
<% end %>
  <% @events.each do |event| %>

<div class="panel-group" id="accordion">


    <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
                href="#accordionOne">
              <%= event.name %>
            </a>
          </h4>
        </div>
        <div id="accordionOne" class="panel-collapse collapse in">
          <div class="panel-body">
          <div id = "row">
          <div class="col-md-9">
               <h4><strong><span style = "color:#990000;">Date:&nbsp;</span></strong><%= event.date %></h4>
  <h4><strong><span style = "color:#990000;">Venue:&nbsp;</span></strong><%= event.location %></h4>
  <h4><strong><span style = "color:#990000;">Conducted by:&nbsp;</span></strong><%= event.club %></h4>
  <% if current_user and (current_user.role=='admin' or event.user == current_user)%>
  <p><%= link_to 'Show', event %>|<%= link_to 'Edit', edit_event_path(event) %>|<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  </div>
  <div class="col-md-3" id = "event_date">
    <div id = "date" onmouseover="this.style.color='yellow';" onmouseout="this.style.color='black';"><%= event.date.strftime('%B') %><br><span style = "font-size:60px;"><%= event.date.strftime('%d') %></span></div>
    </div>
  </div>
  </div>
            </div>
        </div>

      </div>

  <% end %>
      </div>
      <% if current_user and (current_user.role == 'manager' or current_user.role == 'admin')%>
        <%= link_to 'New Event', new_event_path %>
      <% end %>
<br>
<br>


