<style>

  table { 
  border: solid;
  border-radius: 5px;

  /*border-style: solid,black,rounded;*/
  color: #333;
  font-family: Helvetica, Arial, sans-serif; 
  border-collapse: 
  collapse; border-spacing: 0; 
  }

  td, th { 
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
  }

  th {
  background: #D11919;  /* Darken header a bit */
  font-weight: bold;
  font-size: 18px;
  }

  td {
  background: #FAFAFA;
  text-align: center;
  }
  
  thead {
    text-align: center;
  }

  /* Cells in even rows (2,4,6...) are one color */ 
  tr:nth-child(even) td { background: #F1F1F1; }   

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
  tr:nth-child(odd) td { background: #FEFEFE; }  

  tr td:hover { background: #666; color: yellow; } /* Hover cell effect! */

  .myButton {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:7px 55px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
}
.myButton:active {
  position:relative;
  top:1px;
}

#event_date {
  
    width: 140px;
    height: 140px;
    background-color: #3366FF;
    box-shadow: 10px 10px 5px #888888;

}

#event_date:hover{
outline: 5px solid black;
}

#date {

  font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #222;
  text-shadow: 0px 2px 3px #555;

}
</style>

<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Domain</th>
      <th>Mentor</th>
      <% if  current_user and (current_user.category=='staff' or current_user.category=='student') %>
        <th>Approve</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= raw project.description %></td>
        <td><%= project.status.split('_').join(' ').titleize %></td>
        <td><%= project.domain %></td>
        <td><%= project.mentor.name %></td>
        <% if current_user %>
          <% if  current_user.category == 'staff' %>
            <% if project.status == 'pending' and project.mentor == current_user %>
              <td><%= link_to 'Approve',approve_path(project) %></td>
            <% elsif project.status == 'completed' %>
              <td>Approved</td>
            <% else %>
              <td>Not applied for Approval</td>
            <% end %>
          <% elsif  current_user.category == 'student' %>
            <% if project.status == 'in_progress' %>
              <td><%= link_to 'Apply for Approval',apply_path(project) %></td>
            <% else %>
              <td><%= project.status.split('_').join(' ').titleize %></td>
            <% end %>
          <% end %>
        <% end %>

          <td><%= link_to 'Show', project %></td>
        <% if current_user and (project.members.include? current_user or current_user.role == 'admin') %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } if project.members.include? current_user %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

<% if current_user and current_user.category == 'student' %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
