<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @project.domain %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @project.mentor.name %>
</p>

<%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
<p>
  <strong>Memebers:</strong>
  <% @project.members.each do |member| %>
    <%= member.name %>
    <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
