



<%# add navigation links to this file %>

<li ><%= link_to 'Home', root_path %></li>
          <li><a href="#about">About</a></li>

<!-- <li><%= link_to 'About', page_path('about') %></li> -->
<li><%= link_to 'News', news_index_path %></li>
<li><%= link_to 'Projects', projects_path %></li>
<li><%= link_to 'Events', events_path %></li>
<li><%= link_to 'Departments', departments_path %></li>
<li><%= link_to 'Courses', courses_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
<!-- <li><a href="#">Home</a></li> -->
          <!-- <li><a href="#section2">Product</a></li>
          <li><a href="#section3">News</a></li>
          <li class="active"><a href="#section1"><strong>Big Brand</strong></a></li>
          <li><a href="#section4">About</a></li>
          <li><a href="#section5">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SignUp/SignIn <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a></li>
              <li><a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a></div></li>
              
            </ul>
          </li> -->