<!DOCTYPE html>
<html>
<head>
  <title>CEGSite</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- Wrap all page content here -->
<div id="wrap">
  

<!--start of title page-->

 
<!--end of title page-->





  

<!-- start of navbar -->

<%= render 'layouts/navigation' %>
  
  

<!-- start of navbar -->






<div id="main">
  <% if !(params[:controller]=='visitors' and params[:action]=='index') %>
    <div class="container">
  <% else %>
    <div>
  <% end %>
      <%= yield %>
    </div>
</div>
<!--start of footer -->

<section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>       
        </div>
      </div>

      <div class="row align-center copyright">
          <div class="col-sm-12"><p>Copyright &copy; 2014 Amoeba - by <a href="http://bootstraptaste.com">Bootstraptaste</a></p></div>
      </div>
    </div>

  </section>

<!--end of footer -->



<!-- move up icon-->

<!-- <ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul> -->

<!-- move up icon-->

    <script type="text/javascript">
    $(function() {
      $('.raptor-editable').raptor({
        plugins: {
          save: {
            plugin: 'saveJson'
          },
          saveJson: {
            url: '/save.php',
            postName: 'raptor-content',
            id: function() {
              return this.raptor.getElement().data('id');
            }
          }
        }
      });
    });
    </script>
  </body>
</body>
</html>
